@model bumbo.ViewModels.CreateEmployeeViewModel

@{
    ViewData["Title"] = "Medewerker aanmaken";
    Layout = "_Layout";
    // ViewData["HideLayoutElements"] = true;
}

<div class="max-w-2xl mx-auto mt-10 p-6 rounded relative">
    <div class="mb-6 flex">
        <a href="/medewerkers" style="margin-right: 25px">
            <svg width="19" height="38" viewBox="0 0 19 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2502 35.5L3.66687 21.9167C2.0627 20.3125 2.0627 17.6875 3.66687 16.0833L17.2502 2.5" stroke="black" stroke-width="3.125" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
        <h1 class="text-3xl font-semibold">Medewerker aanmaken</h1>
    </div>
    <!-- Title -->

    <form asp-action="Create" method="post" class="space-y-6">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            <div>
                <label asp-for="FirstName" class="block text-sm font-medium text-gray-700">Voornaam</label>
                <input asp-for="FirstName" placeholder="John" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="FirstName" class="text-sm text-red-600"></span>
            </div>

            <div>
                <label asp-for="MiddleName" class="block text-sm font-medium text-gray-700">Tussenvoegsel</label>
                <input asp-for="MiddleName" placeholder="van" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="MiddleName" class="text-sm text-red-600"></span>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            <div>
                <label asp-for="LastName" class="block text-sm font-medium text-gray-700">Achternaam</label>
                <input asp-for="LastName" placeholder="Doe" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="LastName" class="text-sm text-red-600"></span>
            </div>

            <div>
                <label asp-for="BirthDate" class="block text-sm font-medium text-gray-700">Geboorte datum</label>
                <input asp-for="BirthDate" value="2000-01-01" type="date" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="BirthDate" class="text-sm text-red-600"></span>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            <div>
                <label asp-for="PostalCode" class="block text-sm font-medium text-gray-700">Postcode</label>
                <input asp-for="PostalCode" placeholder="1234AB" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="PostalCode" class="text-sm text-red-600"></span>
            </div>

            <div>
                <label asp-for="HouseNumber" class="block text-sm font-medium text-gray-700">Huisnummer</label>
                <input asp-for="HouseNumber" title="Voer een geldig huisnummer in zoals 17 of 17b" placeholder="17 (a)" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="HouseNumber" class="text-sm text-red-600"></span>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            <div>
                <label asp-for="Email" class="block text-sm font-medium text-gray-700">E-mailadres</label>
                <input asp-for="Email" type="email" placeholder="johnvandoe@live.nl" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="Email" class="text-sm text-red-600"></span>
            </div>

            <div>
                <label asp-for="PhoneNumber" class="block text-sm font-medium text-gray-700">Telefoonnummer</label>
                <input asp-for="PhoneNumber" placeholder="06 12345678" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="PhoneNumber" class="text-sm text-red-600"></span>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            <div>
                <label asp-for="BID" class="block text-sm font-medium text-gray-700"></label>
                <input asp-for="BID" placeholder="123456789" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="BID" class="text-sm text-red-600"></span>
            </div>
            <div class="relative flex flex-col">
                <label asp-for="Password" class="block text-sm font-medium text-gray-700">Wachtwoord</label>
               
                <div class="relative">
                    <input disabled
                           value="@Model.Password"
                           name="Password"
                           id="Password"
                           class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight pr-10" />
                    <input type="hidden"
                           asp-for="Password" />
                    <span id="copyButton"
                          class="absolute inset-y-0 right-2 flex items-center px-2 text-gray-500 hover:text-gray-700">
                        <i class="fa-regular fa-copy"></i>
                    </span>

                </div>
                <span asp-validation-for="Password" class="text-sm text-red-600"></span>
                <p>Deel dit wachtwoord met de medewerker!</p>
            </div>

        </div>
        <script>
            document.addEventListener("DOMContentLoaded", () => {

                const copyButton = document.getElementById("copyButton");
                const inputId = "Password";

                copyButton.addEventListener("click", () => {
                    const inputElement = document.getElementById(inputId);
                    const textToCopy = inputElement.value;

                    navigator.clipboard.writeText(textToCopy).then(
                        () => alert("Wachtwoord gekopieerd naar klembord!"),
                        (err) => console.error("Kopiëren mislukt: ", err)
                    );
                });
            });
        </script>
        @if (Model.LogedInAsSystemManager)
            {
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                    <div>
                        <label asp-for="IsSystemManager" class="block text-sm font-medium text-gray-700">Systeembeheerder</label>
                        <input asp-for="IsSystemManager" type="checkbox" class="mt-1 block shadow-sm sm:text-sm border-gray-300 rounded-md"/>
                        <span asp-validation-for="IsSystemManager" class="text-sm text-red-600"></span>
                    </div>
                </div>
            </div>
        }
        <div class="flex justify-end">
            <default-button button-text="Aanmaken" button-type="primary" typeof="submit"></default-button>
        </div>
    </form>
</div>
