@model TemplateCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="max-w-2xl mx-auto mt-10 p-6 rounded relative">
    <div class="mb-6 flex">
        <a href="/standaard-templates" style="margin-right: 25px">
            <svg width="19" height="38" viewBox="0 0 19 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2502 35.5L3.66687 21.9167C2.0627 20.3125 2.0627 17.6875 3.66687 16.0833L17.2502 2.5" stroke="black" stroke-width="3.125" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
        <h1 class="text-3xl font-semibold">Standaard template aanmaken</h1>
    </div>
    <div>
        <form asp-action="Create" method="post" id="createForm">
            <div class="mb-10">
                <label for="Name">Naam:</label><br />
                <input asp-for="Name" required class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" /><br />
            </div>
            <div class="py-2 border-b">
                <div class="gap-4 grid grid-cols-3">
                    <label><b>Dag</b></label>
                    <label>Aantal verwachte klanten</label>
                    <label>Aantal verwachte coli</label>
                </div>
            </div>
            @foreach (var day in Model.Days)
            {
                <div class="py-2 border-b">
                    <div class="gap-4 grid grid-cols-3">
                        <label><b>@day.DayName</b></label>
                        <input type="number" min="1" max="50000" name="customerData[@day.DayName]" value="@day.CustomerAmount" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                        <input type="number" min="1" max="1000" name="containerData[@day.DayName]" value="@day.ContainerAmount" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                    </div>
                </div>
            }
            <div class="mt-6 flex justify-end">
                <default-button button-text="Create" button-type="primary"></default-button>
            </div>
        </form>
    </div>
</div>
