@{
    ViewData["Title"] = "edit";
}

<div class="grid grid-cols-2 gap-4 mt-20 mx-auto max-w-screen-lg">
    <div class="flex items-center space-x-2" name="templates_title">
        <button class="w-12 text-2xl flex justify-center items-center">&#10094;</button>
        <h1 class="font-bold text-3xl flex-grow">Standaard Template Bewerken</h1>
    </div>
</div>
<div class="mt-4 mx-auto max-w-screen-lg">
    <div class="flex flex-col">
        <label class="block text-sm font-medium text-gray-700">Naam</label>
        <input type="text" class="mt-1 p-2 border border-gray-300 rounded" placeholder="Voer je naam in" />
    </div>
</div>


<div class="mt-4 mx-auto max-w-screen-lg">
    <div class="grid grid-cols-3 gap-2">
        <div class="font-bold max-w-xs">Dag</div>
        <div class="font-bold max-w-xs">Aantal Benodigde Uren</div>
        <div class="font-bold max-w-xs">Aantal Benodidge Medewerkers</div>

        <div class="max-w-xs">Ma</div>
        <div>
            <input type="number" value="8" class="border rounded p-1 w-full">
        </div>
        <div>
            <input type="number" value="2" class="border rounded p-1 w-full">
        </div>

        <div class="max-w-xs">Di</div>
        <div>
            <input type="number" value="6" class="border rounded p-1 w-full">
        </div>
        <div>
            <input type="number" value="1" class="border rounded p-1 w-full">
        </div>

        <div class="max-w-xs">Wo</div>
        <div>
            <input type="number" value="7" class="border rounded p-1 w-full">
        </div>
        <div>
            <input type="number" value="2" class="border rounded p-1 w-full">
        </div>

        <div class="max-w-xs">Do</div>
        <div>
            <input type="number" value="5" class="border rounded p-1 w-full">
        </div>
        <div>
            <input type="number" value="1" class="border rounded p-1 w-full">
        </div>

        <div class="max-w-xs">Fri</div>
        <div>
            <input type="number" value="9" class="border rounded p-1 w-full">
        </div>
        <div>
            <input type="number" value="3" class="border rounded p-1 w-full">
        </div>

        <div class="max-w-xs">Za</div>
        <div>
            <input type="number" value="4" class="border rounded p-1 w-full">
        </div>
        <div>
            <input type="number" value="1" class="border rounded p-1 w-full">
        </div>

        <div class="max-w-xs">Zo</div>
        <div>
            <input type="number" value="3" class="border rounded p-1 w-full">
        </div>
        <div>
            <input type="number" value="1" class="border rounded p-1 w-full">
        </div>
    </div>
    <div class="mt-4 flex justify-end space-x-2">
        <button class="bg-red-500 text-white border border-red-700 rounded p-2 hover:bg-red-600 transition">Verwijderen</button>
        <button class="bg-blue-500 text-white border border-blue-700 rounded p-2 hover:bg-blue-600 transition">Bewerken</button>
    </div>

</div>



