@{
    ViewData["Title"] = "Filiaal toevoegen";
}

<!-- <link href="~/css/BranchCSS.css" rel="stylesheet" /> 
    <div class="mr-10">
    <div>
        <h1 class="text-4xl"><strong><a class="arrow-back" asp-area="" asp-controller="Branches" asp-action="BranchesView"> < </a>Filiaal toevoegen</strong></h1>
    </div>

    <div class="text-fields-row">
        <div class="size2">
            <label for="number">Filiaal nummer</label>
            <input id="number" name="number" type="text" />
        </div>
        <div class="size1">
            <label for="name">Naam</label>
            <input id="name" name="name" type="text" />
        </div>
    </div>
    <div class="text-fields-row">
        <div class="size1">
            <label for="city">Stad of dorp</label>
            <input id="city" name="city" type="text" />
        </div>
        <div class="size2">
            <label for="amount-of-workers">Aantal medewerkers</label>
            <input id="amount-of-workers" name="amount-of-workers" type="text" />
        </div>
    </div>
    <div class="text-fields-row">
        <div class="size2">
            <label for="postal-code">Postcode</label>
            <input id="postal-code" name="postal-code" type="text" />
        </div>
        <div class="size1">
            <label for="street-name">Straatnaam</label>
            <input id="street-name" name="street-name" type="text" />
        </div>
    </div>
    <div class="text-fields-row">
        <div class="size1">
            <label for="country">Land</label>
            <input id="country" name="country" type="text" />
        </div>
        <div class="size2">
            <label for="phone-number">Telefoonnummer</label>
            <input id="phone-number" name="phone-number" type="text" />
        </div>
    </div>

    <div class="create-button">
        <default-button button-text="Aanmaken" button-type="primary"></default-button>
    </div>
</div>
-->

<div class="mr-10">
    <div>
        <h1 class="text-4xl"><strong><a class="arrow-back" asp-area="" asp-controller="Branches" asp-action="BranchesView"> < </a>Filiaal toevoegen</strong></h1>
    </div>

    <div>
        <div>
            <label for="number">Filiaal nummer</label>
            <input id="number" name="number" type="text" />
        </div>
        <div>
            <label for="name">Naam</label>
            <input id="name" name="name" type="text" />
        </div>
    </div>
    <div>
        <div>
            <label for="city">Stad of dorp</label>
            <input id="city" name="city" type="text" />
        </div>
        <div>
            <label for="amount-of-workers">Aantal medewerkers</label>
            <input id="amount-of-workers" name="amount-of-workers" type="text" />
        </div>
    </div>
    <div>
        <div>
            <label for="postal-code">Postcode</label>
            <input id="postal-code" name="postal-code" type="text" />
        </div>
        <div>
            <label for="street-name">Straatnaam</label>
            <input id="street-name" name="street-name" type="text" />
        </div>
    </div>
    <div>
        <div>
            <label for="country">Land</label>
            <input id="country" name="country" type="text" />
        </div>
        <div>
            <label for="phone-number">Telefoonnummer</label>
            <input id="phone-number" name="phone-number" type="text" />
        </div>
    </div>

    <div>
        <default-button button-text="Aanmaken" button-type="primary"></default-button>
    </div>
</div>
