@{
    ViewData["Title"] = "Access Denied";
}

<div class="mt-16 text-center">
    <h1 class="text-3xl">Access Denied</h1>
    <p class="text-xl-center my-4">You do not have permission to access this page.</p>

    <a href="@Url.Action("Index", "Home")" class="text-gray-500 hover:text-gray-600">Go back to Home</a>
</div>

