@{
    ViewData["Title"] = "Home Page";
}


<div class="mt-20 gap-2 flex justify-center sm:gap-4">
    <h1 class="text-3xl sm:text-7xl">Welkom</h1>
    <h1 class="text-yellow-400 text-3xl sm:text-7xl">bij</h1>
    <h1 class="text-3xl sm:text-7xl">Bumbo</h1>
</div>

<div class="mt-20 flex justify-center">
    <img src="/media/bumbo-logo.png" alt="Logo" class="w-24 h-auto sm:w-48" />
</div>


