@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Hoi</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Coree</a>.</p>
    <default-button button-text="Inloggen" button-type="primary"></default-button>
    <default-button button-type="secondary"> </default-button>
</div>


