<nav class="bg-gray-800 p-3 text-white">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/prognoses">Prognoses</a></li> <!-- Route in het Nederlands -->
        <li><a href="/normeringen">Normeringen</a></li>
        <li><a href="/medewerkers">Medewerkers</a></li>
        <li><a href="/standaard-templates">Standaard templates</a></li>
        <li><a href="/terugblikken">Terugblikken</a></li>

        @if (ViewBag.IsAdmin)
        {
            <li><a href="/filialen">Filialen</a></li>
        }
    </ul>
</nav>
