
<div class="min-h-24 max-h-24 bg-gray-100 p-4 px-24 flex items-center justify-between">
        <div class="flex items-center space-x-[100px]">
            <a href="/">
                <div class="h-16 flex max-w-[80px] items-center justify-center">
                    <img src="/media/bumbo-logo.png" alt="Logo" class="h-auto max-w-[80px]" />
                </div>
            </a>

            <div class="space-x-6 flex">
                @if (Model.IsBranchManager)
                {
                <div class="max-h-6 group relative hover:mr-1">
                    <p class="">Prognoses</p>
                    <ul class="group-hover:block bg-gray-100 left-[-12px] absolute top-full z-50 hidden">
                        <li class="p-3 pt-6 border-b-2"><a href="/prognoses" class="hover:text-gray-600">Prognoses</a></li>
                        <li class="p-3 border-b-2"><a href="/normeringen" class="hover:text-gray-600">Normeringen</a></li>
                        <li class="p-3 border-b-2"><a href="/terugblikken" class="hover:text-gray-600">Terugblikken</a></li>
                        <li class="p-3"><a href="/standaard-templates" class="hover:text-gray-600">Standaard templates</a></li>
                    </ul>
                </div>

                <a href="/medewerkers" class="hover:text-gray-600">Medewerkers</a>

                }
                @if (Model.IsSystemManager)
                {
                    <a href="/filialen" class="hover:text-gray-600">Filialen</a>
                }
            </div>
        </div>

        <div class="space-x-4 flex items-center">
            @if (Model.IsAuthenticated)
            {
                <div class="text-right">
                    <div class="text-gray-700">@Model.FirstName</div>
                    <div class="text-gray-500 text-sm">@Model.Email</div>
                </div>
                <a href="/uitloggen" class="text-sm hover:text-gray-600">Uitloggen</a>
            }
            else
            {
                <a href="/inloggen" class="text-sm hover:text-gray-600">Inloggen</a>
            }
        </div>
    </div>