@model IEnumerable<bumbo.Models.Norm>

@{
    ViewData["Title"] = "Normeringen";
}

<div>
    @Html.Raw(ViewBag.HtmlTable)
</div>

<a asp-controller="Norms" asp-action="Create" asp-route-lastWeek="false" class="btn btn-primary">Nieuwe normering</a>