@{
    ViewData["Title"] = "Normering aanmaken";
}

<a href="#"><</a>
<h1>Normering updaten</h1>
<form asp-action="Insert" method="post">
    <label for="unloadColis">Coli uitladen in minuten</label>
    <input id="unloadColis" type="number" />
    <label for="fillShelves">Vakken vullen in minuten per coli</label>
    <input id="fillShelves" type="number" />
    <label for="cashier">Hoeveelheid kassiéres per 30 klanten per uur</label>
    <input id="cashier" type="number" />
    <label for="fresh">Hoeveelheid medewerkers per 100 klanten per uur</label>
    <input id="fresh" type="number" />
    <label for="fronting">Hoeveelheid seconden per meter spiegelen</label>
    <input id="fronting" type="number" />
    <input type="submit" value="Bewerken">
</form>
1 + 4 * ((i - 1) / 4)