@model ScheduleManagerEditViewModel

@{
    ViewData["Title"] = "EditDay";
}

<div class="max-w-full mx-auto mt-10 p-6">
    <div class="mb-6 flex">
        <a href="/roosterManager" style="margin-right: 25px">
            <svg width="19" height="38" viewBox="0 0 19 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2502 35.5L3.66687 21.9167C2.0627 20.3125 2.0627 17.6875 3.66687 16.0833L17.2502 2.5" stroke="black" stroke-width="3.125" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
        <h1 class="text-3xl font-semibold">@Html.Raw(ViewBag.Day)</h1>
    </div>


</div>