@using bumbo.ViewModels
@{

}

@model RequestsUpdateViewModel

<div class="mx-24 mt-12 mx-auto max-w-2xl">
    <div class="mb-12 flex">
        <a href="Index" class="mr-6">
            <svg width="19" height="38" viewBox="0 0 19 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2502 35.5L3.66687 21.9167C2.0627 20.3125 2.0627 17.6875 3.66687 16.0833L17.2502 2.5" stroke="black" stroke-width="3.125" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
        <h1 class="text-3xl font-semibold">Hulpverzoek toevoegen</h1>
    </div>
    <form asp-action="CreateRequest" class="mx-12">
        <div class="mb-6">
            <label class="font-semibold">Datum nodig</label>
            <input asp-for="Request.DateNeeded" type="date" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
        </div>
        <div class="mb-6 flex justify-between">
            <div class="w-64">
                <label class="font-semibold">Begintijd nodig</label>
                <input asp-for="Request.StartTime" type="time" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
            </div>
            <div class="w-64">
                <label class="font-semibold">Eindtijd nodig</label>
                <input asp-for="Request.EndTime" type="time" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
            </div>
        </div>
        <div class="mb-6">
            <label class="font-semibold">Afdeling</label>
            <select asp-for="Department.DepartmentName" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full rounded border leading-tight">
                <option value="Vakkenvullen">Vakkenvullen</option>
                <option value="Kassa">Kassa</option>
                <option value="Vers">Vers</option>
            </select>
        </div>
        <div class="mb-6">
            <label class="font-semibold">Nodige medewerker</label>
            <div>
                <a class="h-12 text-white bg-gray-600 border-gray-400 py-2 px-3 text-gray-700 flex w-full appearance-none items-center justify-center border leading-tight hover:bg-gray-500"
                   href="#">Kies een beschikbare medewerker van een andere filiaal</a>
                <input type="hidden" asp-for="Employee"/>
            </div>
        </div>
        <div class="mb-6">
            <label class="font-semibold">Omschrijving</label>
            <textarea asp-for="Request.Message" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 h-36 w-full appearance-none rounded border leading-tight"></textarea>
        </div>
        <div class="mt-6 flex justify-end">
            <default-button button-text="Toevoegen" button-type="primary"></default-button>
        </div>
    </form>

    <!-- White Space -->
    <div class="h-20"></div>
</div>
