@using bumbo.ViewModels
@{

}

<div class="pt-6">
    <p class="px-16 text-4xl"><strong>Hulpverzoeken</strong></p>

    <div class="flex flex-col">
        <div class="">
            @Html.Raw(ViewBag.HtmlTable)
        </div>
        <div class="">
            @Html.Raw(ViewBag.HtmlTableTwo)
        </div>
    </div>
</div>
